 header {
	background-color: red;
	position:relative;
	height: 50px;
}
h2 {
	float: left;
	background-color:green;
	border-radius: 5px;
	width: 50px;
	height: 15px; 
	margin-top: 20px;
	margin-bottom:20px;
	margin-left:10px;
	font-size: 15px;
	color: yellow;

}

li {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: 10px;
	list-style: none;
	padding-left: 10px;
	padding-right: 10px;
	display: inline;
	color: white;
	border: white solid;
	font-size: 10px;
	border-top: none;
	border-bottom: none;
	border-right: none;
	height: 50px;
	text-align: center;

}
ul {
	float:right;
	margin-right:20px;
}
	
