<!DOCTYPE HTML>
<html>

<head>
	<link rel="shortcut icon" href="https://www.facebook.com/images/fb_icon_325x325.png/16/16">

	<link type="text/css" rel="stylesheet" href="static/facebook.css"/>
	<title>Welcome to Facebook - Log In, Sign Up or Learn More</title>
</head>

<body>
	<div class="cf"><a href="https://www.facebook.com">
		<h1>facebook</h1>
		</a></div>

	<div><table><tbody>
		<tr>
			<td class="bannerText">
				<label for="email">Email or Phone</label>
			</td>
			<td class="bannerText">
				<label for="password">Password</label>
			</td>
		</tr>
		<tr>
			<td>
				<input id="email" type="text" class="inputtext"/>
			</td>
			<td>
				<input id="password" type"text" class="inputtext"/>
			</td>
		</tr>
		<tr>
			<td>
				<input id="box" type="checkbox">
				<label for="email">Keep me logged in</label>
			</td>
			<td id="forgotLink">
				<label for="password">Forgot your password?</label>
			</td>
		</tr>
	</tbody></table></div>

</body>

</html>


	<!--Mock Facebook Page: 
	
	font-weight: bold;
	font-size: 18px;
	color: #ffffff; -->