<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="static/finalProjectCss.css"/>
		<title></title>
	</head>
	<body>
	    <div id="header">
	        <a href="https://www.linkedin.com/"><p id="name"><strong>Olga Tegay</strong></p></a>
	        <a href="https://accounts.google.com/ServiceLogin?service=mail&passive=true&rm=false&continue=https://mail.google.com/mail/&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1"><p id="email">olga.tegay@gmail.com</p></a>
	    </div>
	    <div class="left"></div>
	    <div class="right">
	        <h4>Objective:</h4>
	        <p>To take up a position of a dream-come-true job at a promissing start-up</p>
	        <h4>Education</h4>
	        <ul>
	            <li><p>MA in "Major", "University_Name";</p></li>
	            <li><p>BA in "Major", "University_Name";</p></li>
	        </ul>
	        <h4>Experience</h4>
	        <ul>
	            <li><p>September 2011 - present Position, "Company_Name";</p></li>
	            <li><p>February 2008 - July 2008 Postion, "Company_Name";</p></li>
	        </ul>
	        <h4>Skills</h4>
	        <ul>
	            <li><p>Computer Languages: HTML, CSS, Python;</p></li>
	        <li><p>Foreign Languages: Russian, Korean;</p></li>
	        </ul>
	    </div>
	    <div id="footer"></div>	
	</body>
</html>